@{
    ViewBag.Title = "About Us";
}
<div class="container py-4">
    <div>
        <h1 class="text-center text-uppercase fs-2 fw-bold">About Us</h1>
    </div>
    <div class="fs-6">
        <div class="my-5 lh-lg">
            <h4 class="fs-4">
                Why choose @Html.ActionLink("Haunt", "Index", "Home", null, new { @class = "link-style" })
            </h4>
            <p>We just don't build your website we build your business. We Building Your Business with Strong Branding. Our helpful support team is always on standby to help you with any questions or issues. We have a great team to build your business.</p>
        </div>
        <div class="my-5 lh-lg">
            <h4 class="fs-4">
                <span>
                    Latest &amp; most popular @Html.ActionLink("Free Shopify Themes", "Index", "Home", null, new { @class = "link-style" })
                </span>
            </h4>
            <p>The best reviewed and most popular 
                @Html.ActionLink("Free Shopify Themes", "Index", "Home", null, new { @class = "link-style" }) 
                ever. Our best selling 
                @Html.ActionLink("Free Shopify Themes", "Index", "Home", null, new { @class = "link-style" }). 
                Ready To Take Your 
                @Html.ActionLink("Free Shopify Themes", "Index", "Home", null, new { @class = "link-style" }) 
                Next Level? Give Your Site A Beautiful Template Design To Gather More Visitors. Check 
                @Html.ActionLink("Haunt", "Index", "Home", null, new { @class = "link-style" }) awesome 
                @Html.ActionLink("Free Shopify Themes", "Index", "Home", null, new { @class = "link-style" }) Collections.
            </p>
        </div>
        <div class="my-5 lh-lg">
            <h4 class="fs-4">
                <span>
                    @Html.ActionLink("Paira Shopify", "Index", "Home", null, new { @class = "link-style" }) theme Framework
                </span>
            </h4>
            <p>
                Paira Is A Modern, User-Friendly, Highly Customizable And Easy To Integrate Solution To Build Your Next Shopify Website Based On Your Idea. Paira Is A Highly Functional And Advance Theme Option
                @Html.ActionLink("Free Paira Shopify Framework", "Index", "Home", null, new { @class = "link-style" }).
                Why Paira Is The Best &amp; Most Popular
                @Html.ActionLink("Free Paira Shopify Framework", "Index", "Home", null, new { @class = "link-style" })
                Have Most Advance Feature List, Coding Simplicity, Unique Option, Easy To Integrate Any Design, Simple And Advance Framework Architecture Design. After Lot Of Research,
                @Html.ActionLink("Haunt", "Index", "Home", null, new { @class = "link-style" }) Team Finally Release
                @Html.ActionLink("Free Paira Shopify Framework", "Index", "Home", null, new { @class = "link-style" }).
            </p>
        </div>
        <div class="my-5 lh-lg">
            <h4 class="fs-4">
                <span> 
                    @Html.ActionLink("Haunt", "Index", "Home", null, new { @class = "link-style" }) customer services
                </span>
            </h4>
            <p><span>*** @Html.ActionLink("Haunt", "Index", "Home", null, new { @class = "link-style" }) installation services &amp; setup</span></p>
            <p><span>*** @Html.ActionLink("Haunt", "Index", "Home", null, new { @class = "link-style" }) design services</span></p>
            <p><span>*** @Html.ActionLink("Haunt", "Index", "Home", null, new { @class = "link-style" }) development services</span></p>
            <p><span>*** @Html.ActionLink("Haunt", "Index", "Home", null, new { @class = "link-style" }) 24/7 customer support</span></p>
        </div>
    </div>
</div>

@*<p>Use this area to provide additional information.</p>
<main class="about-page margin-bottom-30">
    <section class="about-content">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title margin-top-30 margin-bottom-30">
                        <h1 class="page-header text-center">About us</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   
                    <p>&nbsp;</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>&nbsp;</p>
                    
                </div>
            </div>
        </div>
    </section>
</main>*@